<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://evolenthealthcontactapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>evolenthealthcontactapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EvolentHealthContactApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EvolentHealthContactApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EvolentHealth_Contact_App.DAL.UserDBContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EvolentHealth_Contact_App.DAL.UserDBContext, EvolentHealth_Contact_App.DAL" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EvolentContactDB" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:evolent-health-contact-app.database.windows.net,1433;Initial Catalog=EvolentHealth_Contact;Persist Security Info=False;User ID=ganesh;Password=Evolent@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:evolent-health-contact-app.database.windows.net,1433;Initial Catalog=EvolentHealth_Contact;Persist Security Info=False;User ID=ganesh;Password=Evolent@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:evolent-health-contact-app.database.windows.net,1433;Initial Catalog=EvolentHealth_Contact;Persist Security Info=False;User ID=ganesh;Password=Evolent@123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EvolentContactDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:evolent-health-contact-app.database.windows.net,1433;Initial Catalog=EvolentHealth_Contact;Persist Security Info=False;User ID=ganesh;Password=Evolent@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EvolentContactDB-Web.config Connection String">
      <ParameterValue>Server=tcp:evolent-health-contact-app.database.windows.net,1433;Initial Catalog=EvolentHealth_Contact;Persist Security Info=False;User ID=ganesh;Password=Evolent@123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EvolentHealth_Contact_App.DAL.UserDBContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="EvolentHealth_Contact_App.DAL.UserDBContext" />
  </ItemGroup>
</Project>